* {
  font-size: 10pt;
  font-family: "Lato","Helvetica",Arial,Verdana,Lucida;
}

body {
  margin: 2px 2px 0px 0px;
  padding: 0px 0px 0px 10px;
}

a:hover {
  background-color: inherit;
}

span {
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

hr {
  font-size: 6pt;
}

th {
  font-size: 10pt;
  font-weight: bold;
  vertical-align: middle;
  padding: 5px 6px 5px 6px;
}

th a {
  font-size: 11pt;
  text-transform: capitalize;
  font-weight: bold;
  vertical-align: middle;
  text-align: left;
}

td {
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
}

.pnopad {
  padding: 0;
}

.ptop {
  vertical-align: top;
}

.head {
  font-size: 22pt;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 1px;
}

div.lopetus {
  position:absolute;
  top:5px;
  right:60px;
}

div.ohje {
  position:absolute;
  top:5px;
  right:20px;
}

input, textarea {
  margin: 0px 4px 0px 4px;
  padding: 4px 2px 4px 2px;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

select {
  font-size: 10pt;
  -webkit-appearance: none;
  padding: 4px 35px 4px 4px;
  border-style: solid;
  border-width: 1px;
  background-image: url('../pics/facelift/dropdown_arrow.png');
  background-repeat: no-repeat;
  background-position: right;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}


select.minpad_select {
  padding: 4px 20px 4px 4px;
}

select:disabled {
  background-image: none;
  border-style: none;
}

select.multipleselect {
  font-size: 10pt;
  padding: 2px 2px 2px 2px;
  background-image: none;
  width: 100%;
  overflow-y:scroll;
}

button, input[type=submit], input[type=button] {
  border : solid 0px #ffffff;
  font-size: 10pt;
  font-weight: bold;
  color : #ffffff;
  margin: 1px;
  padding: 5px 10px 5px 10px;
  min-width: 90px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

input[type=submit].lisaa_btn {
  background-image: url('../pics/facelift/submit_add.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

input[type=submit].hae_btn {
  background-image: url('../pics/facelift/submit_mglass.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

input[type=submit].tallenna_btn {
  background-image: url('../pics/facelift/submit_rightarrow.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

input[type=submit].poista_btn {
  background-image: url('../pics/facelift/submit_leftarrow.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 35px;
}

.monivalintadiv {
  float: left;
  margin-right: 5px;
}

table.ostorivien_kohdistus input[type=text], table.ostorivien_kohdistus input[type=button], table.ostorivien_kohdistus select {
  margin: 0;
  padding: 1px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.no-title .ui-dialog-titlebar {
  display: none;
}

ul {
  padding-left: 15px;
}

ul.list-unstyled {
  list-style: none;
  padding-left: 0;
}

.text-large {
  font-size: 2rem !important;
  margin-bottom: 10px;
}

.text-medium {
  font-size: 1.25rem !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.kateis-table {
  margin-bottom: 20px;
}

.kateis-table th, .kateis-table td {
  font-size: 1.25rem;
}

.laskuri {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.full-width {
  width: 100%;
}

table.responsive {
  width: 100%;
}

table.responsive td input[type=text] {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

.del {
  text-decoration: line-through;
}

.nowrap {
  white-space: nowrap;
}

.kalepad {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right:3px;
}
