div.lopetus {
  top:5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.ohje {
  position:absolute;
  top:5px;
  right:20px;
}

a.puhdas:hover {
  text-decoration: none;
  background-color: transparent;
}

form.indexvas {
  margin:0px 0px 10px 8px;
}

table.indexvas {
  width: 135px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-spacing: 0;
}

table.indexvas tr {
  background-color: transparent;
}

table.indexvas td {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.pnopad {
  padding: 0px;
}

.ptop {
  vertical-align: top;
}

.monivalintadiv {
  float: left;
  margin-right: 5px;
}

.esierio {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding:2px;
  margin-bottom: 2px;
}

.erio {
  display:inline-block;
  padding:1px;
  margin:1px;
  background:silver;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.kielipallo {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding:2px;
  display:inline-block;
  width:20px;
  text-align: center;
  background:white;
}
.padding4 {
  padding:4px;
}
