div.lopetus {
  top:5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div.ohje {
  position:absolute;
  top:5px;
  right:20px;
}

a.puhdas:hover {
  text-decoration: none;
  background-color: transparent;
}

form.indexvas {
  margin:0px 0px 10px 8px;
}

table.indexvas {
  width: 135px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-spacing: 0;
}

table.indexvas tr {
  background-color: transparent;
}

table.indexvas td {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.pnopad {
  padding: 0px;
}

.ptop {
  vertical-align: top;
}

.monivalintadiv {
  float: left;
  margin-right: 5px;
}

.hidden {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

ul.list-unstyled {
  list-style: none;
  padding-left: 20px;
}

.del {
  text-decoration: line-through;
}

.kalepad {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right:3px;
}
