<div align="center" class="header" id="header">&nbsp;<div class="head" id="head"></div></div>
<div class="right" id ="right">&nbsp;</div>
<verkkokauppa>
<div class="footer" id="footer">&copy; Devlab Oy <a class="puhdas" href="http://www.devlab.fi">Devlab Oy</a></div>