<IfModule mod_php5.c>

php_flag display_errors off
php_flag log_errors on
php_flag magic_quotes_gpc off

php_value max_execution_time 3000
php_value memory_limit 520M
php_value post_max_size 80M
php_value upload_max_filesize 80M
php_value max_input_vars 10000

</IfModule>

<ifModule mod_deflate.c>
    <filesMatch "\.(js|css|html|php|inc)$">
        SetOutputFilter DEFLATE
    </filesMatch>
</ifModule>