<style type='text/css'>
body {
	padding: 0px;
	margin: 0px;
	font-family: 'Arial';
	font-size: 1.3em;
}

input {
	font-size: 1em;
}

table {
	padding: 0px;
	margin: 0px;
	font-size: 0.90em;
}

button {
	font-size: 1.05em;
}
	A, A:visited	{color: #c0c0c0; text-decoration:none;}
	.error		{color: #ff6666;}
h1 {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
}

form {
	margin: 0;
}

</style>