body {
	padding: 0;
	margin: 0;
	font-family: 'Arial';
	font-size: 1em;
}

A, A:visited {
	color: #c0c0c0; text-decoration:none;
}

.error {
	color: #ff6666;
}

table {
	/*width: 100%; */
	/*text-align: center;*/
	padding: 0;
	margin: 0;
	/*font-size: 0.90em;*/
}

.center {
	text-align: center;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 1.3em;
}

form {
	margin: 0;
}

select {
	font-size: 1em;
}
/******************************/

.header {
	text-align: center;
	width: 100%;
	height: 25px;
	background-color: #eeeeff;
}

.main {
	width: 100%;
	/*background-color: #ccFFcc;*/
}

.controls {
	float:left;
	width: 100%;
	background-color: #f5f5ff;
	font-size: 1.2em;
}
.numero {
	text-align: right;
	font-size: 1.3em;
	width: 60px;
}
input {
	font-size: 1em;
	width: 100px;
}

.radio {
	width: 8px;
}

.right {
	clear:right;
	float:right;
}

.left {
	clear:both;
	float:left;
}

button {
	font-size: 1.1em;
	margin: 3px;
	float:left;
}

#takaisin {
	float: right;
}

#alusta {
	width: 200px;
}

th {
	text-align: left;
}
