div.popup {
	position:absolute; 
	z-index:100; 
	visibility: hidden;
	display: none;	
	background:#eee; 
	border: 2px #4d4d4d solid;
	padding: 5px;
}
img.edit {
	height: 13px;
	width: 13px;
	border-style: none;
	border-width: 0;
	background-color: inherit;
}
img.info {
	height: 13px;
	width: 13px;
	border-style: none;
	border-width: 0;
	background-color: inherit;
}