table.ylaframe {
  width: 100%;
	margin: 15px 15px 0px 15px;
  padding: 0px 15px 0px 0px;
	border-spacing: 0;
}

table.ylaframe td {
  background-color: #ffffff;
  vertical-align: middle;
}

table.ylaframe td.ylapalkki {
  width: 50px;
  white-space: nowrap;
  text-align: center;
}

div.showhide_yla {
  position:fixed;
  top:2px;
  left:40%;
}
