body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #e6e6e6;
}
.calc-main { /* center / center */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -130px;
}
.calc-small {
  margin-left: -130px;
}
